
.contacts {
  justify-items: center;
  &__content {
    @include page-grid;


            &__inputs {
              display: grid;
              place-content: center;
              grid-column: 1 / -1;

              @include on-tablet {
              grid-column: 1 / 4;
            }

            @include on-desktop {
              grid-column: span 5 ;
            }
          }

        &__us {
          grid-column: 1 / -1;

              @include on-tablet {
              grid-column: 5 / 7;
            }

            @include on-desktop {
              grid-column: -5 / -1 ;
            }
          }




  }
      &__buttom {
        transition: all $effectDuration;
        z-index: -1;
        width: 278px;
        height: 56px;
        border-radius: 40px;
        padding-inline: 48px;
        margin-bottom: 48px;
        background-color: $white-color;


        @include on-desktop {
          width: 411px;
        }

        &__title {
          text-align: center;
          margin: 0;
          font-weight: 700;
          font-size: 16px;
          line-height: 27px;
          color: $main-text-color-black;
        }

        &:hover {
          transform: scale(1.2);
          box-shadow: $buttom-hover-shadow;
        }
        &:active {
          box-shadow: $buttom-active-shadow;
        }
      }


}

.input {
    box-sizing: border-box;
    margin-bottom: 16px;
    background-color: $color-bg-input;
    border-radius: 40px;
    width: 288px;
    padding: 14px 16px;



    &__name {
    height: 48px;
    }

    &__email {
    height: 48px;
    }

    &__message {
      height: 148px;
      border-radius: 16px;

      font-family: Poppins, sans-serif;
      line-height: 20px;
      font-weight: 400;
      font-size: 14px;
      color: $placeholder-color;

    }

    ::placeholder {
      line-height: 20px;
      font-weight: 400;
      font-size: 14px;
      color: $placeholder-color;
    }


    @include on-desktop {
          width: 411px;
    }
  }


  .contact__us {
    margin: 0;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: $white-color;
  }

  .contact__name {
    margin: 0;
    padding-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: $white-color;
  }
