.footer {
  box-sizing: border-box;
  background-image: url('./../images/Footer-full.png');
  background-repeat: no-repeat;
  z-index: -1;
  width: 100%;
  height: 200px;
  background-position: right;
  background-size: cover;

  @include on-tablet {
    height: 480px;
  }

  @include on-desktop {
    height: 555px;

  }

}
