/* #region header  */
.header {
  box-sizing: border-box;
  height: 100vh;
  background-image: url('./../images/Header_photo.jpg');
  background-position: right;
  background-size: cover;

  &__content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-weight: bold;
    margin-bottom: 88px;
    letter-spacing: -1.5px;
    text-align: center;
    line-height: 100%;
    font-size: 36px;

    @include on-tablet {
      font-size: 64px;
    }

    &__bottom {
      padding-bottom: 40px;

      @include on-tablet {
        padding-bottom: 64px;
      }
    }
  }
}

/* #endregion */
