.main {
  &__content {
    display: grid;
    padding-block: 92px;
    row-gap: 92px;

    @include on-tablet {
      padding-block: 120px;
      row-gap: 120px;
    }

    @include on-desktop {
      padding-block: 120px;
      row-gap: 164px;
    }
  }
}
