$tablet-min-width: 576px;
$desktop-min-width: 1024px;
$effectDuration: 0.3s;
$buttom-hover-shadow: 1px 4px 16px rgba(232, 232, 240, 0.4);
$buttom-active-shadow: 1px 4px 16px rgba(232, 232, 240, 0.64);
$white-color: #fff;
$main-text-color-black: #1D1D1D;
$placeholder-color: #7E7E83;
$color-bg-input: #F8F8FA;
